
header {
	padding: 0px auto;
	margin-bottom: 0px;
	background: #fff;
}
body {
	background: #fff;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}
footer {
	padding: 20px;
	color: #fff;
	background: rgb(11, 27, 61);
}
footer a{
	color: #fff;
	text-decoration: none!important;
}
footer a:hover{
	color: rgb(102, 204, 255);
}
footer a:hover#facebook{
	color: rgb(41, 65, 133);
}
.nav-superior{
	background: rgb(102,204,255)!important;
}
.sticky{
	position:fixed;
	top:0;
	width: 100%;
	z-index: 100;
}
header.sticky + main{
	padding-top: 60px!important;
}

.nav-opcion{
	color: #333333!important;
	font-size: 15px;
	transition: 0.4s;
}
.nav-opcion.active{
	color: rgb(254,90,90)!important;
}
.nav-opcion:hover{
	color: rgb(254,90,90)!important;
	transition: 0.2s;
}
.nav-superior .nav-opcion{
	font-weight: bold;
	color: #fff!important;
}
.nav-texto{
	font-size: 15px!important;
	font-weight: bold;
	color: #fff!important;
}
.nav-superior .nav-opcion:hover{
	background: #fff;
	color: rgb(118,197,240)!important;
}
.nav-superior .nav-opcion:hover#facebook{
	background: rgb(45, 57, 124);
	color: rgb(118,197,240)!important;
}
.nav-superior .nav-opcion:hover#mail{
	background: rgb(216, 42, 42);
	color: rgb(118,197,240)!important;
}
.dropdown-item{
	color: #333333!important;
	font-size: 15px;
	transition: 0.2s;
}
.dropdown-item:hover{
	color: rgb(254,90,90)!important;
	transition: 0.2s;
}
.dropdown-item:focus{
	background: unset;
	color: rgb(254,90,90)!important;
	transition: 0.2s;
}

div.row{
	margin-right: 0px;
 }
 
 div.container-fluid{
	padding-right: 0px;
 }

.navbar-imagen{
	height: 50px;
	max-height: 135px;
}

.cuadro-texto{
	background: rgb(238, 238, 238);
	border-radius: 10px;
	padding: 20px;
	margin-top: 10px;
}

.imagen {
	margin-top: 15px;
	text-align: center;
	border-radius: 10px;
}
.texto-encima{
	position:absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-30%);
}

.imagen-encima{
	position:absolute;
	top: 45%;
	left: 10%;
	width: 1200px;
	max-width: 100%;
	transform: translate(-10%,-55%);
}

.fondo{
	background: rgb(102,204,255);
}

.titulo-fuente-0{
	font-size: 5.5rem;
	font-weight: bolder;
}
.icono{
	font-size: 20px;
}
.icono1{
	font-size: 45px;
}
.icono2{
	font-size: 75px;
}
.table {
    border-bottom:0px !important;
}
.table th, .table td {
    border: 1px !important;
}
.fixed-table-container {
    border:0px !important;
}

.bloque-carrera{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-carrera{
	filter: brightness(40%);
	object-fit: cover;
	display: flex;
	width: 550px;
	border-radius: 10px;
	transition: 0.4s;
}
.bloque-carrera:hover .imagen-carrera{
	transition: 0.4s;
	filter: brightness(75%);
}

.texto-carrera{
	position: absolute;
	color: #fff;
	font-size: 35px;
	z-index: 1;
}
.encabezado-contabilidad{
	width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.9)),url('../img/Carrera_Contabilidad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.encabezado-enfermeria{
	width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.9)),url('../img/Carrera_Enfermeria.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.titulo-fuente{
	font-size: 45px;
}
.titulo-fuente-1{
	font-size: 35px;
	color:#333333;
}
.titulo-fuente-2{
	color:#fff;
	font-size: 45px;
}
.titulo-barra{
	background: rgb(64, 193, 255);
	height:5px;
	width: 150px;
	display: inline-block;
	margin-bottom: 15px;
	margin-left: 5px;
}
.titulo-barra-2{
	background:rgb(255, 54, 54)!important;
	height:5px;
	width: 100%;
	display: inline-block;
	margin-bottom: 15px;
	margin-left: 3px;
}
.slider-fuente{
	font-size: 50px;
}
.slider-fuente-2{
	font-size: 25px;
}
.fondo-fuente{
	background: rgb(0, 20, 44);
}
.slider-inicio div img{
	width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    object-fit: cover;
	filter: brightness(80%);
}

.carrusel-icono span{
	transition: 0.2s;
	padding: 25px;
}
.carrusel-icono:hover span{
	transition: 0.2s;
	padding: 35px;
}
.carrusel-icono-2 span{
	transition: 0.2s;
	padding: 25px;
	background-color: #3535359a!important;
}
.carousel-indicators{
	bottom: -40px!important;
}
.carousel-indicators li {
	width:10px!important;
	height:10px!important;
	margin-right:5px!important;
	margin-left:5px!important;
	border-radius:50%!important;
	border:0!important;
	background-color: rgb(168, 168, 168);
	opacity: unset;
}
.carousel-indicators li:hover{
	background-color: rgb(250,90,90);
}
.carousel-indicators li.active{
	background-color: rgb(250,90,90);
}
.boton-1{
	transition: 0.2s;
	text-decoration: none;
	color: #fff;
	background: rgb(254,90,90);
	font-weight: bold;
}
.boton-1:focus{
	box-shadow: none!important;
}
.boton-1:hover{
	transition: 0.2s;
	color: rgb(254,90,90);
	background: none;
	border: 1px solid rgb(250,90,90);
}
.linea-tiempo {
	position: relative;
	width: auto;
	max-width: 95vw;
	height: 100%;
  }
.momento{
	position: relative;
	width: 45%;
	box-sizing: border-box;
}
.momento:nth-child(even){
	left: 55%;
}
.linea-tiempo::before {
	content: '';
	position: absolute;
	width: 3px;
	background:#333333;
	left: 50%;
	height: 100%;
	border-radius: 10px;
  }
.momento::after {
	content: '';
	position: absolute;
	top: calc(50% + 10px);
	right: calc(-11.11% - 11.5px);
	height: 20px;
	width: 20px;
	background:#333333;
	border-radius: 50%;
}
.momento:nth-child(even)::after {
	left: calc(-11.11% - 8.5px);
}
.momento h3 {
	margin: 10px 0px;
	text-align: center;
  }
  .momento .descripcion::after {
	content: '';
	position: absolute;
	right: -10px;
	top: calc(50% + 10px);
	height: 0;
	width: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 12px solid rgb(184, 184, 184);;
  }
  .momento:nth-child(even) .descripcion::after{
	left: -10px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 12px solid rgb(184, 184, 184);;
	border-left: none;
  }
@media screen and (max-width: 960px) {
	.encabezado-contabilidad{
		height: 300px;
	}
	.encabezado-enfermeria{
		height: 300px;
	}
	.slider-inicio div img{
		height: 300px;
	}
	.slider-fuente{
		font-size: 30px;
	}
	.slider-fuente-2{
		font-size: 16px;
	}
	h3{
		font-size: 20px;
	}
	.titulo-barra{
		width: 100px;
	}
	.linea-tiempo::before{
		display: none;
	}
	.momento::after{
		display: none;

	}
	.momento:nth-child(even)::after{
		display:none;
	}
	.linea-tiempo {
		width: auto;
	}
	.momento{
		width: auto;
		display: block;
	}
	.momento:nth-child(even){
		left: auto;
	}
	.momento .descripcion::after {
		display: none;
	}
	.momento:nth-child(even) .descripcion::after{
		display: none;
	}
}
